.btn_arrow {
  font-size: 1rem;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border-radius: 10000px;
  outline: none;
  background-color: #5cbf23;
}

.btn_arrow::before {
  content: "";
}